<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Coronavirus Calculator</title>
</head>
<body>

<div class="contact" style="height: 35vh;">
    <div class="contact" style="height: 35vh;">

        <div style="margin: 2%;">
            <h1><strong>Calculate the Number of Coronavirus Cases</strong></h1>
        </div>
        <div style="margin: 2%;"></div>
        <p th:text="'This Coronavirus case simulation calculates the number of cases for a population of 2000 people. 83 percent of the population is wearing masks. The initial number of cases on the first day of the outbreak is 1 percent of the population. The user will enter into the text box how many days they want to have passed since the first day of the outbreak. When the user clicks the button enter next to the text box the total number of cases there have been on the day number the user inputs.'"></p>

        <div style="margin: 2%;">
            <form id="covidCalc" action="/covid" method="GET" >
                <label for="days">Type the number of days:</label>
                <input name="days" id="days" type="number">
                <button>Enter!</button>
            </form>
        </div>
        <div style="margin: 2%;">
            <p th:text="'Number of Cases with a population of 2000: ' + ${days}"></p>

        </div>
        <div style="margin: 2%;"></div>
            <p th:text="'The growth of coronavirus cases is undergoing an exponential growth pattern. In exponential growth the more time that passes the faster the number of coronavirus cases will increase.'"> </p>
        </div>
        <div style="margin: 2%;">
            <a href="https://math.libretexts.org/Bookshelves/Calculus/Book%3A_Calculus_(OpenStax)/06%3A_Applications_of_Integration/6.8%3A_Exponential_Growth_and_Decay">Click on this link to learn more about exponential growth.</a>
    </div>
</div>

</body>
</html>