<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Coconuts Website</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="./nav.css" />
    <link rel="stylesheet" href="./home.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
  </head>
  <header>
    <a href="/"
      ><img
        class="logo"
        src="https://www.pinclipart.com/picdir/big/20-204396_coconut-clipart-coconut-fruit-clipart-png-download.png"
        alt="coconuts logo"
    /></a>
    <nav>
      <ul class="navbar-links">
        <li><a href="/greeting">Greeting</a></li>
        <li><a href="/cases">Covid-19 Cases</a></li>
        <li><a href="/covid">Covid-19 Simulation</a></li>
        <li><a href="/jukebox">Jukebox</a></li>
        <li><a href="https://www.p1coconuts.tk/">Teashop</a></li>
        <li><a href="https://coconutschat.tk/">Chat</a></li>
      </ul>
    </nav>
  </header>
  <body>
    <div class="title">
      <h2>Welcome,</h2>
      <h1>To the Coconuts Webpage</h1>
      <h3>Scrum Group: Siddhant Ranka, Aidan Rosen, and Andrew Hale</h3>
    </div>
    <div>
      <img
        class="sand"
        src="https://freepngimg.com/thumb/sand/30831-6-sand-file.png"
        alt="sand"
      />
      <img
        class="coconut"
        src="https://www.pngkit.com/png/full/273-2737485_virgin-coconut-oil-coconut-oil-label-design.png"
        alt="coconut"
      />
    </div>
  </body>
  <footer>
    <p>Created by: Siddhant Ranka, Aidan Rosen, and Andrew Hale</p>
  </footer>
</html>
