<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>WELCOME TO THE COCONUTS WEBPAGE</p>
<p>Get your greeting <a href="/greeting">here</a></p>
<p><a href="/cases">Get The San Diego Coronavirus Statistics From Our Database</a></p>
<p>To go to the Juke Box, use this <a href="/jukebox.html">link</a></p>
<p>This Table is What The Final Result of Coronavirus Cases in San Diego will Look Like</p>
<table class = "Covid" border = "1" style="width:100%">

    <tr>
        <th>Age</th>
        <th>Number</th>
    </tr>

    <tr>
        <th>0-9</th>
        <th>13587</th>
    </tr>
    <tr>
        <th>10-19</th>
        <th>27717</th>
    </tr>
    <tr>
        <th>20-29</th>
        <th>55906</th>
    </tr>
    <tr>
        <th>30-39</th>
        <th>44833</th>
    </tr>
    <tr>
        <th>40-49</th>
        <th>36154</th>
    </tr>
    <tr>
        <th>50-59</th>
        <th>34438</th>
    </tr>
    <tr>
        <th>60-69</th>
        <th>22289</th>
    </tr>
    <tr>
        <th>70-79</th>
        <th>10571</th>
    </tr>
    <tr>
        <th>80+</th>
        <th>7961</th>
    </tr>
    <tr>
        <th>Unknown</th>
        <th>185</th>
    </tr>

</table>
</body>
</html>